In [1]:
import numpy as np
import pandas as pd

In [2]:
arquivo = pd.read_csv('BikeSharingDemand.csv')
df_arquivo = pd.DataFrame(arquivo)

In [3]:
df_arquivo.head(n=5)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
df_arquivo.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

In [ ]:
df_arquivo.tail(n=15)

In [ ]:
df_arquivo.sample(n=5, random_state=1)

In [ ]:
df_arquivo.shape

In [ ]:
df_arquivo.info()

In [6]:
for column in df_arquivo:
    print(column + ":")
    print(df_arquivo[column].unique())
    print()

datetime:
['2011-01-01 00:00:00' '2011-01-01 01:00:00' '2011-01-01 02:00:00' ...
 '2012-12-19 21:00:00' '2012-12-19 22:00:00' '2012-12-19 23:00:00']

season:
[1 2 3 4]

holiday:
[0 1]

workingday:
[0 1]

weather:
[1 2 3 4]

temp:
[ 9.84  9.02  8.2  13.12 15.58 14.76 17.22 18.86 18.04 16.4  13.94 12.3
 10.66  6.56  5.74  7.38  4.92 11.48  4.1   3.28  2.46 21.32 22.96 23.78
 24.6  19.68 22.14 20.5  27.06 26.24 25.42 27.88 28.7  30.34 31.16 29.52
 33.62 35.26 36.9  32.8  31.98 34.44 36.08 37.72 38.54  1.64  0.82 39.36
 41.  ]

atemp:
[14.395 13.635 12.88  17.425 19.695 16.665 21.21  22.725 21.97  20.455
 11.365 10.605  9.85   8.335  6.82   5.305  6.06   9.09  12.12   7.575
 15.91   3.03   3.79   4.545 15.15  18.18  25.    26.515 27.275 29.545
 23.485 25.76  31.06  30.305 24.24  18.94  31.82  32.575 33.335 28.79
 34.85  35.605 37.12  40.15  41.665 40.91  39.395 34.09  28.03  36.365
 37.88  42.425 43.94  38.635  1.515  0.76   2.275 43.18  44.695 45.455]

humidity:
[ 81  80  75  86  76  77  72  82  88  87  94 100  71  66  57  46  42  39
  44  47  50  43  40  35  30  32  64  69  55  59  63  68  74  51  56  52
  49  48  37  33  28  38  36  93  29  53  34  54  41  45  92  62  58  61
  60  65  70  27  25  26  31  73  21  24  23  22  19  15  67  10   8  12
  14  13  17  16  18  20  85   0  83  84  78  79  89  97  90  96  91]

windspeed:
[ 0.      6.0032 16.9979 19.0012 19.9995 12.998  15.0013  8.9981 11.0014
 22.0028 30.0026 23.9994 27.9993 26.0027  7.0015 32.9975 36.9974 31.0009
 35.0008 39.0007 43.9989 40.9973 51.9987 46.0022 50.0021 43.0006 56.9969
 47.9988]

casual:
[  3   8   5   0   2   1  12  26  29  47  35  40  41  15   9   6  11   4
   7  16  20  19  10  13  14  18  17  21  33  23  22  28  48  52  42  24
  30  27  32  58  62  51  25  31  59  45  73  55  68  34  38 102  84  39
  36  43  46  60  80  83  74  37  70  81 100  99  54  88  97 144 149 124
  98  50  72  57  71  67  95  90 126 174 168 170 175 138  92  56 111  89
  69 139 166 219 240 147 148  78  53  63  79 114  94  85 128  93 121 156
 135 103  44  49  64  91 119 167 181 179 161 143  75  66 109 123 113  65
  86  82 132 129 196 142 122 106  61 107 120 195 183 206 158 137  76 115
 150 188 193 180 127 154 108  96 110 112 169 131 176 134 162 153 210 118
 141 146 159 178 177 136 215 198 248 225 194 237 242 235 224 236 222  77
  87 101 145 182 171 160 133 105 104 187 221 201 205 234 185 164 200 130
 155 116 125 204 186 214 245 218 217 152 191 256 251 262 189 212 272 223
 208 165 229 151 117 199 140 226 286 352 357 367 291 233 190 283 295 232
 173 184 172 320 355 326 321 354 299 227 254 260 207 274 308 288 311 253
 197 163 275 298 282 266 220 241 230 157 293 257 269 255 228 276 332 361
 356 331 279 203 250 259 297 265 267 192 239 238 213 264 244 243 246 289
 287 209 263 249 247 284 327 325 312 350 258 362 310 317 268 202 294 280
 216 292 304]

registered:
[ 13  32  27  10   1   0   2   7   6  24  30  55  47  71  70  52  26  31
  25  17  16   8   4  19  46  54  73  64  67  58  43  29  20   9   5   3
  63 153  81  33  41  48  53  66 146 148 102  49  11  36  92 177  98  37
  50  79  68 202 179 110  34  87 192 109  74  65  85 186 166 127  82  40
  18  95 216 116  42  57  78  59 163 158  51  76 190 125 178  39  14  15
  56  60  90  83  69  28  35  22  12  77  44  38  75 184 174 154  97 214
  45  72 130  94 139 135 197 137 141 156 117 155 134  89  80 108  61 124
 132 196 107 114 172 165 105 119 183 175  88  62  86 170 145 217  91 195
 152  21 126 115 223 207 123 236 128 151 100 198 157 168  84  99 173 121
 159  93  23 212 111 193 103 113 122 106  96 249 218 194 213 191 142 224
 244 143 267 256 211 161 131 246 118 164 275 204 230 243 112 238 144 185
 101 222 138 206 104 200 129 247 140 209 136 176 120 229 210 133 259 147
 227 150 282 162 265 260 189 237 245 205 308 283 248 303 291 280 208 286
 352 290 262 203 284 293 160 182 316 338 279 187 277 362 321 331 372 377
 350 220 472 450 268 435 169 225 464 485 323 388 367 266 255 415 233 467
 456 305 171 470 385 253 215 240 235 263 221 351 539 458 339 301 397 271
 532 480 365 241 421 242 234 341 394 540 463 361 429 359 180 188 261 254
 366 181 398 272 167 149 325 521 426 298 428 487 431 288 239 453 454 345
 417 434 278 285 442 484 451 252 471 488 270 258 264 281 410 516 500 343
 311 432 475 479 355 329 199 400 414 423 232 219 302 529 510 348 346 441
 473 335 445 555 527 273 364 299 269 257 342 324 226 391 466 297 517 486
 489 492 228 289 455 382 380 295 251 418 412 340 433 231 333 514 483 276
 478 287 381 334 347 320 493 491 369 201 408 378 443 460 465 313 513 292
 497 376 326 413 328 525 296 452 506 393 368 337 567 462 349 319 300 515
 373 399 507 396 512 503 386 427 312 384 530 310 536 437 505 371 375 534
 469 474 553 402 274 523 448 409 387 438 407 250 459 425 422 379 392 430
 401 306 370 449 363 389 374 436 356 317 446 294 508 315 522 494 327 495
 404 447 504 318 579 551 498 533 332 554 509 573 545 395 440 547 557 623
 571 614 638 628 642 647 602 634 648 353 322 357 314 563 615 681 601 543
 577 354 661 653 304 645 646 419 610 677 618 595 565 586 670 656 626 581
 546 604 596 383 621 564 309 360 330 549 589 461 631 673 358 651 663 538
 616 662 344 640 659 770 608 617 584 307 667 605 641 594 629 603 518 665
 769 749 499 719 734 696 688 570 675 405 411 643 733 390 680 764 679 531
 637 652 778 703 537 576 613 715 726 598 625 444 672 782 548 682 750 716
 609 698 572 669 633 725 704 658 620 542 575 511 741 790 644 740 735 560
 739 439 660 697 336 619 712 624 580 678 684 468 649 786 718 775 636 578
 746 743 481 664 711 689 751 745 424 699 552 709 591 757 768 767 723 558
 561 403 502 692 780 622 761 690 744 857 562 702 802 727 811 886 406 787
 496 708 758 812 807 791 639 781 833 756 544 789 742 655 416 806 773 737
 706 566 713 800 839 779 766 794 803 788 720 668 490 568 597 477 583 501
 556 593 420 541 694 650 559 666 700 693 582]

count:
[ 16  40  32  13   1   2   3   8  14  36  56  84  94 106 110  93  67  35
  37  34  28  39  17   9   6  20  53  70  75  59  74  76  65  30  22  31
   5  64 154  88  44  51  61  77  72 157  52  12   4 179 100  42  57  78
  97  63  83 212 182 112  54  48  11  33 195 115  46  79  71  62  89 190
 169 132  43  19  95 219 122  45  86 172 163  69  23   7 210 134  73  50
  87 187 123  15  25  98 102  55  10  49  82  92  41  38 188  47 178 155
  24  18  27  99 217 130 136  29 128  81  68 139 137 202  60 162 144 158
 117  90 159 101 118 129  26 104  91 113 105  21  80 125 133 197 109 161
 135 116 176 168 108 103 175 147  96 220 127 205 174 121 230  66 114 216
 243 152 199  58 166 170 165 160 140 211 120 145 256 126 223  85 206 124
 255 222 285 146 274 272 185 191 232 327 224 107 119 196 171 214 242 148
 268 201 150 111 167 228 198 204 164 233 257 151 248 235 141 249 194 259
 156 153 244 213 181 221 250 304 241 271 282 225 253 237 299 142 313 310
 207 138 280 173 332 331 149 267 301 312 278 281 184 215 367 349 292 303
 339 143 189 366 386 273 325 356 314 343 333 226 203 177 263 297 288 236
 240 131 452 383 284 291 309 321 193 337 388 300 200 180 209 354 361 306
 277 428 362 286 351 192 411 421 276 264 238 266 371 269 537 518 218 265
 459 186 517 544 365 290 410 396 296 440 533 520 258 450 246 260 344 553
 470 298 347 373 436 378 342 289 340 382 390 358 385 239 374 598 524 384
 425 611 550 434 318 442 401 234 594 527 364 387 491 398 270 279 294 295
 322 456 437 392 231 394 453 308 604 480 283 565 489 487 183 302 547 513
 454 486 467 572 525 379 502 558 564 391 293 247 317 369 420 451 404 341
 251 335 417 363 357 438 579 556 407 336 334 477 539 551 424 346 353 481
 506 432 409 466 326 254 463 380 275 311 315 360 350 252 328 476 227 601
 586 423 330 569 538 370 498 638 607 416 261 355 552 208 468 449 381 377
 397 492 427 461 422 305 375 376 414 447 408 418 457 545 496 368 245 596
 563 443 562 229 316 402 287 372 514 472 511 488 419 595 578 400 348 587
 497 433 475 406 430 324 262 323 412 530 543 413 435 555 523 441 529 532
 585 399 584 559 307 582 571 426 516 465 329 483 600 570 628 531 455 389
 505 359 431 460 590 429 599 338 566 482 568 540 495 345 591 593 446 485
 393 500 473 352 320 479 444 462 405 620 499 625 395 528 319 519 445 512
 471 508 526 509 484 448 515 549 501 612 597 464 644 712 676 734 662 782
 749 623 713 746 651 686 690 679 685 648 560 503 521 554 541 721 801 561
 573 589 729 618 494 757 800 684 744 759 822 698 490 536 655 643 626 615
 567 617 632 646 692 704 624 656 610 738 671 678 660 658 635 681 616 522
 673 781 775 576 677 748 776 557 743 666 813 504 627 706 641 575 639 769
 680 546 717 710 458 622 705 630 732 770 439 779 659 602 478 733 650 873
 846 474 634 852 868 745 812 669 642 730 672 645 694 493 668 647 702 665
 834 850 790 415 724 869 700 793 723 534 831 613 653 857 719 867 823 403
 693 603 583 542 614 580 811 795 747 581 722 689 849 872 631 649 819 674
 830 814 633 825 629 835 667 755 794 661 772 657 771 777 837 891 652 739
 865 767 741 469 605 858 843 640 737 862 810 577 818 854 682 851 848 897
 832 791 654 856 839 725 863 808 792 696 701 871 968 750 970 877 925 977
 758 884 766 894 715 783 683 842 774 797 886 892 784 687 809 917 901 887
 785 900 761 806 507 948 844 798 827 670 637 619 592 943 838 817 888 890
 788 588 606 608 691 711 663 731 708 609 688 636]

In [9]:
df_arquivo[20:31]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2
30,2011-01-02 07:00:00,1,0,0,2,16.40,20.455,76,12.9980,0,1,1

In [ ]:
df_arquivo.loc[20:30]

In [ ]:
df_arquivo.iloc[20:31]

In [ ]:
df_arquivo['humidity']

In [ ]:
df_arquivo.humidity

In [ ]:
df_arquivo.loc[:, 'humidity']

In [ ]:
df_arquivo.iloc[:, df_arquivo.columns.get_loc('humidity')]

In [ ]:
df_arquivo['temp'].value_counts()

In [ ]:
#13
df_arquivo[['workingday', 'humidity']]

In [10]:
#14
df_arquivo.loc[20:30, 'workingday':'humidity']

    workingday  weather   temp   atemp  humidity
20           0        2  16.40  20.455        87
21           0        2  16.40  20.455        87
22           0        2  16.40  20.455        94
23           0        2  18.86  22.725        88
24           0        2  18.86  22.725        88
25           0        2  18.04  21.970        94
26           0        2  17.22  21.210       100
27           0        2  18.86  22.725        94
28           0        2  18.86  22.725        94
29           0        3  17.22  21.210        77
30           0        2  16.40  20.455        76

In [12]:
#15
df_arquivo['datetime'] = pd.to_datetime(df_arquivo['datetime'])
df_arquivo['month'] = df_arquivo['datetime'].dt.month
df_arquivo['month']

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
10856    12
10857    12
10858    12
10859    12
10860    12
10861    12
10862    12
10863    12
10864    12
10865    12
10866    12
10867    12
10868    12
10869    12
10870    12
10871    12
10872    12
10873    12
10874    12
10875    12
10876    12
10877    12
10878    12
10879    12
10880    12
10881    12
10882    12
10883    12
10884    12
10885    12
Name: month, Length: 10886, dtype: int64

In [13]:
#16
df_arquivo[df_arquivo['month'] == 1]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2,1
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3,1
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8,1
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14,1
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36,1
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56,1
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84,1
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94,1
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106,1
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110,1
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93,1
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67,1
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35,1
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37,1
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36,1
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34,1
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28,1
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39,1
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17,1
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17,1
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9,1
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6,1
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3,1
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5845,2012-01-18 18:00:00,1,0,1,1,9.84,10.605,32,23.9994,8,347,355,1
5846,2012-01-18 19:00:00,1,0,1,1,9.02,9.850,37,26.0027,5,251,256,1
5847,2012-01-18 20:00:00,1,0,1,1,9.02,10.605,37,16.9979,1,164,165,1
5848,2012-01-18 21:00:00,1,0,1,1,8.20,8.335,40,27.9993,5,119,124,1
5849,2012-01-18 22:00:00,1,0,1,1,7.38,8.335,47,16.9979,4,74,78,1
5850,2012-01-18 23:00:00,1,0,1,1,6.56,6.820,47,19.9995,2,36,38,1
5851,2012-01-19 00:00:00,1,0,1,1,5.74,6.820,50,12.9980,0,16,16,1
5852,2012-01-19 01:00:00,1,0,1,1,5.74,7.575,50,11.0014,0,5,5,1
5853,2012-01-19 02:00:00,1,0,1,1,5.74,7.575,50,8.9981,0,3,3,1
5854,2012-01-19 03:00:00,1,0,1,1,4.92,7.575,54,7.0015,0,4,4,1
5855,2012-01-19 04:00:00,1,0,1,1,4.92,7.575,54,7.0015,0,1,1,1
5856,2012-01-19 05:00:00,1,0,1,1,4.92,6.060,55,16.9979,0,19,19,1
5857,2012-01-19 06:00:00,1,0,1,1,4.92,6.820,54,11.0014,0,86,86,1
5858,2012-01-19 07:00:00,1,0,1,1,4.92,8.335,54,6.0032,2,204,206,1
5859,2012-01-19 08:00:00,1,0,1,1,4.92,7.575,54,7.0015,9,414,423,1
5860,2012-01-19 09:00:00,1,0,1,1,4.92,9.850,54,0.0000,6,204,210,1
5861,2012-01-19 10:00:00,1,0,1,1,5.74,10.605,59,0.0000,10,98,108,1
5862,2012-01-19 11:00:00,1,0,1,1,6.56,8.335,55,11.0014,6,93,99,1
5863,2012-01-19 12:00:00,1,0,1,1,8.20,9.850,51,12.9980,5,106,111,1
5864,2012-01-19 13:00:00,1,0,1,1,9.02,10.605,47,19.0012,6,118,124,1
5865,2012-01-19 14:00:00,1,0,1,1,9.84,11.365,44,12.9980,15,104,119,1
5866,2012-01-19 15:00:00,1,0,1,1,10.66,11.365,44,19.9995,9,118,127,1
5867,2012-01-19 16:00:00,1,0,1,1,10.66,11.365,41,22.0028,8,185,193,1
5868,2012-01-19 17:00:00,1,0,1,2,10.66,11.365,44,22.0028,21,364,385,1
5869,2012-01-19 18:00:00,1,0,1,2,10.66,11.365,44,22.0028,16,345,361,1
5870,2012-01-19 19:00:00,1,0,1,2,10.66,11.365,48,19.9995,5,229,234,1
5871,2012-01-19 20:00:00,1,0,1,1,10.66,10.605,52,30.0026,7,184,191,1
5872,2012-01-19 21:00:00,1,0,1,1,10.66,11.365,44,23.9994,4,117,121,1
5873,2012-01-19 22:00:00,1,0,1,2,10.66,11.365,44,27.9993,0,90,90,1
5874,2012-01-19 23:00:00,1,0,1,1,10.66,11.365,48,22.0028,1,55,56,1

In [20]:
#17
temp = df_arquivo.loc[: , (df_arquivo['month'] == 1) and (df_arquivo['temp'] < 14).any()]
temp

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [22]:
#19 a
df_arquivo.groupby('season')['temp'].mean()

season
1    12.530491
2    22.823483
3    28.789111
4    16.649239
Name: temp, dtype: float64

In [23]:
#19 b
df_arquivo.groupby('season')['atemp'].mean()

season
1    15.228956
2    26.647098
3    32.540783
4    20.059909
Name: atemp, dtype: float64

In [30]:
#19 c
temp = df_arquivo.groupby('season')['registered'].sum()
temp.idxmax()

3